<!-- Toolbar -->
<p-toolbar class="p-mb-3">
  <!-- Left Group: Settings Management -->
  <div class="p-toolbar-group-left">
    <p-button
      label="New"
      icon="pi pi-file"
      class="p-button-secondary mr-3"
      (click)="startWithNewSettings()"
      pTooltip="Start with default settings"
    ></p-button>
    <p-button
      label="Load"
      icon="pi pi-folder-open"
      class="mr-3"
      (click)="openLoadSettingsDialog()"
      pTooltip="Load saved settings"
    ></p-button>
  </div>

  <!-- Center Group: Save Operations -->
  <div class="p-toolbar-group-center">
    <p-button
      label="Save"
      icon="pi pi-save"
      (click)="saveSettings()"
      [disabled]="!isModified"
      pTooltip="Save changes"
    ></p-button>
  </div>

  <!-- Right Group: Editing Tools -->
  <div class="p-toolbar-group-right">
    <p-button
      label="Reset"
      icon="pi pi-undo"
      class="p-button-warning mr-3"
      (click)="resetToOriginalSettings()"
      [disabled]="!isModified"
      pTooltip="Reset changes"
    ></p-button>
    <!-- Display Loaded Settings Info -->
    <span *ngIf="loadedSettingName" class="p-mr-2 loaded-settings">
      <i class="pi pi-cog"></i>
      {{ loadedSettingName }}
      <span *ngIf="currentSettingVersion">(v{{ currentSettingVersion }})</span>
    </span>
    <!-- Modified Indicator -->
    <span *ngIf="isModified" class="p-mr-2 modified-indicator">
      <i class="pi pi-info-circle"></i> Modified
    </span>
  </div>
</p-toolbar>

<!-- Save Settings Dialog -->
<p-dialog
  header="Save Settings"
  [(visible)]="showSaveSettingsDialog"
  [modal]="true"
  [style]="{ width: '400px' }"
  [closable]="false"
>
  <div class="p-fluid">
    <div class="field">
      <label for="settingName">Setting Name</label>
      <input
        id="settingName"
        name="settingName"
        type="text"
        pInputText
        [(ngModel)]="newSetting.name"
      />
    </div>
    <div class="field-checkbox">
      <p-checkbox
        inputId="isDefault"
        [(ngModel)]="newSetting.isDefault"
        binary="true"
      ></p-checkbox>
      <label for="isDefault">Set as default</label>
    </div>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      (click)="showSaveSettingsDialog = false"
    ></p-button>
    <p-button label="Save" class="" (click)="confirmSaveSettings()"></p-button>
  </div>
</p-dialog>

<!-- Load Settings Dialog -->
<p-dialog
  header="Load Settings"
  [(visible)]="showLoadSettingsDialog"
  [modal]="true"
  [style]="{ width: '600px' }"
  [closable]="false"
>
  <p-table
    [value]="savedSettings"
    selectionMode="single"
    [(selection)]="selectedSetting"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Version</th>
        <th>Previous Version</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-setting>
      <tr [pSelectableRow]="setting">
        <td>{{ setting.name }}</td>
        <td>{{ setting.version }}</td>
        <td>
          {{ getVersionById(setting.previousVersionId)?.version || "N/A" }}
        </td>
        <td>{{ setting.createdAt | date: "short" }}</td>
        <td>
          <p-button
            icon="pi pi-eye"
            severity="info"
            class="mr-2"
            (click)="previewSettings(setting)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            severity="danger"
            (click)="deleteSetting(setting.id)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      class="mr-2"
      (click)="showLoadSettingsDialog = false"
    ></p-button>
    <p-button
      label="Load"
      class=""
      [disabled]="!selectedSetting"
      (click)="confirmLoadSettings()"
    ></p-button>
  </div>
</p-dialog>

<!-- Preview Settings Dialog -->
<p-dialog
  header="Settings Preview"
  [(visible)]="showPreviewSettingsDialog"
  [modal]="true"
  [style]="{ width: '600px' }"
>
  <pre>{{ selectedSetting | json }}</pre>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Close"
      (click)="showPreviewSettingsDialog = false"
    ></p-button>
  </div>
</p-dialog>

<!-- 
  Updated p-accordion using the new structure:
  - [multiple]="true" means multiple panels can be opened at the same time.
  - [value]="openPanels" is an array of panel identifiers you want expanded.
  - Each <p-accordion-panel> sets a unique value="someId" to match the array entries.
-->
<div class="grid" *ngIf="lendPeak">
  <div class="col-12">
    <p-accordion [multiple]="true" [value]="openPanels">
      <!-- Interest Rate -->
      <p-accordion-panel value="interestRate">
        <p-accordion-header>Date Range Interest Rate</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="
                lendPeak.amortization.rateSchedules.hasCustom &&
                lendPeak.amortization.rateSchedules.allCustom.length > 0
              "
              class="p-datatable p-component"
            >
              <thead>
                <tr>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Interest Rate (%)</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let rate of lendPeak.amortization.rateSchedules.allCustom;
                    let i = index
                  "
                >
                  <!-- Start Date -->
                  <td>
                    <p-datepicker
                      [(ngModel)]="rate.jsStartDate"
                      name="overrideStartDate-{{ i }}"
                      dateFormat="mm/dd/yy"
                      showIcon
                      (ngModelChange)="onInputChange($event)"
                      appendTo="body"
                    >
                      <ng-template pTemplate="date" let-date>
                        <span
                          [ngStyle]="
                            isPeriodEndDate(date)
                              ? {
                                  backgroundColor: 'orange',
                                  color: 'white',
                                  borderRadius: '50%',
                                  padding: '5px',
                                  display: 'inline-block',
                                  textAlign: 'center',
                                  width: '24px',
                                }
                              : {}
                          "
                        >
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </p-datepicker>
                  </td>
                  <!-- End Date -->
                  <td>
                    <p-datepicker
                      appendTo="body"
                      [(ngModel)]="rate.jsEndDate"
                      name="overrideEndDate-{{ i }}"
                      dateFormat="mm/dd/yy"
                      showIcon
                      (ngModelChange)="onInputChange($event)"
                    >
                      <ng-template pTemplate="date" let-date>
                        <span
                          [ngStyle]="
                            isPeriodEndDate(date)
                              ? {
                                  backgroundColor: 'orange',
                                  color: 'white',
                                  borderRadius: '50%',
                                  padding: '5px',
                                  display: 'inline-block',
                                  textAlign: 'center',
                                  width: '24px',
                                }
                              : {}
                          "
                        >
                          {{ date.day }}
                        </span>
                      </ng-template>
                    </p-datepicker>
                  </td>
                  <!-- Interest Rate -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="rate.jsAnnualInterestRate"
                      name="overrideInterestRate-{{ i }}"
                      mode="decimal"
                      minFractionDigits="2"
                      suffix="%"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeRateOverride(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="p-mt-2">
              <p-button
                label="Add New Rate Row"
                icon="pi pi-plus"
                (click)="addRateOverride()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Term Interest Amount Override -->
      <p-accordion-panel value="termInterestOverride">
        <p-accordion-header>Term Interest Amount Override</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <p-table
              *ngIf="
                lendPeak.amortization.termInterestAmountOverride &&
                lendPeak.amortization.termInterestAmountOverride.length > 0
              "
              [value]="lendPeak.amortization.termInterestAmountOverride.all"
              class="p-datatable p-component"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    <p-toggleswitch
                      [ngModel]="true"
                      inputId="termInterestOverrideToggleAll"
                      (onChange)="toggleAllTermInterestOverrides($event)"
                    />
                  </th>
                  <th>Period Start Date</th>
                  <th>Period End Date</th>
                  <th>Term Number</th>
                  <th>Interest Amount</th>
                  <th>Acceptable Rate Variance</th>
                  <th>Interest Rate</th>
                  <th>Actions</th>
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-override
                let-rowIndex="rowIndex"
              >
                <tr
                  [ngClass]="{
                    'bg-red-100':
                      lendPeak.amortization.termInterestAmountOverride.isDuplicateTermNumber(
                        override.jsTermNumber
                      ),
                    'opacity-40': !override.jsActive,
                  }"
                >
                  <td>
                    <p-toggleswitch
                      inputId="active-{{ override.id }}"
                      [(ngModel)]="override.jsActive"
                      (ngModelChange)="onInputChange($event)"
                    />
                  </td>
                  <!-- Term Dates -->

                  <td>
                    {{
                      getStartDateForTerm(override.jsTermNumber).toDate()
                        | date: "MM/dd/yyyy"
                    }}
                  </td>
                  <td>
                    {{
                      getEndDateForTerm(override.jsTermNumber).toDate()
                        | date: "MM/dd/yyyy"
                    }}
                  </td>
                  <!-- Term Number -->
                  <td>
                    <p-inputNumber
                      [disabled]="!override.jsActive"
                      [(ngModel)]="override.jsTermNumber"
                      name="termInterestOverride-term{{ rowIndex }}"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Interest Amount -->
                  <td>
                    <p-inputNumber
                      [disabled]="!override.jsActive"
                      [(ngModel)]="override.jsInterestAmount"
                      name="termInterestOverride-amount-{{ rowIndex }}"
                      mode="currency"
                      currency="USD"
                      locale="en-US"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <td>
                    <p-inputgroup>
                      <p-inputNumber
                        [disabled]="!override.jsActive"
                        [(ngModel)]="override.jsAcceptableRateVariance"
                        name="termInterestOverride-rateVariance-{{ rowIndex }}"
                        mode="decimal"
                        minFractionDigits="2"
                        maxFractionDigits="10"
                        locale="en-US"
                        (ngModelChange)="onInputChange($event)"
                      ></p-inputNumber>

                      <p-inputgroup-addon
                        >{{
                          (override.jsAcceptableRateVariance * 100).toFixed(4)
                        }}
                        %</p-inputgroup-addon
                      >
                    </p-inputgroup>
                  </td>
                  <td>
                    <span *ngIf="override.active">
                      <!-- Exclamation Triangle if threshold exceeded -->
                      <i
                        *ngIf="
                          lendPeak.amortization.repaymentSchedule.getEntryByTerm(
                            override.jsTermNumber
                          )?.metadata?.equivalentAnnualRateVarianceExceeded
                        "
                        style="color: red; font-size: 1.5rem"
                        severity="danger"
                        class="pi pi-exclamation-triangle"
                        styleClass="mr-2 text-red-500"
                        pTooltip="
        WARNING: The equivalent annual rate variance for this term is 
        {{
                          lendPeak.amortization.repaymentSchedule.getEntryByTerm(
                            override.jsTermNumber
                          )?.metadata?.equivalentAnnualRateVariance
                            | percent: '1.2-6'
                        }},
        which exceeds the acceptable threshold 
        {{
                          lendPeak.amortization.repaymentSchedule.getEntryByTerm(
                            override.jsTermNumber
                          )?.metadata?.acceptableRateVariance | percent: '1.2-6'
                        }}.

        NOTE ABOUT MANUAL INTEREST OVERRIDES:
        Because this interest amount was manually set, LendPeak doesn't fully track
        whether any portion was originally 'deferred' from a prior period. 
        Thus, the rate can appear artificially low in one term and higher in another
        if that deferred interest is effectively added to the next term's override.

        EXAMPLE:
          • Term #1 had 45 days instead of 30, so the interest outpaced the monthly
            payment, deferring $XYZ to the next term.
          • If Term #1's interest was overridden manually, LendPeak won't 'see' that 
            $XYZ was deferred, so the calculated rate might appear too low.
          • In Term #2, if you again override the interest (now including the $XYZ 
            carry‐over), the calculated rate might look too high.

        If you routinely combine manual overrides with date changes or deferrals,
        expect the system's calculated % to be off, since it cannot parse out 
        how much belongs to prior deferrals.
      "
                        tooltipPosition="left"
                        tooltipStyleClass="wide-tooltip"
                      >
                      </i>

                      <!-- Normal displayed rate -->
                      {{
                        lendPeak.amortization.repaymentSchedule.getEntryByTerm(
                          override.jsTermNumber
                        )?.jsPeriodInterestRate | percent: "1.2-4"
                      }}
                    </span>

                    <span *ngIf="!override.active">N/A</span>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeTermInterestOverride(rowIndex)"
                    ></p-button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="p-mt-2">
              <p-divider></p-divider>

              <p-button
                class="pr-2"
                label="Add Interest Override"
                icon="pi pi-plus"
                (click)="addTermInterestOverrideRow()"
              ></p-button>
              <p-button
                class="pr-2"
                severity="info"
                label="Re-Sort"
                icon="pi pi-refresh"
                (click)="refreshSortForTermInterestOverride()"
              ></p-button>

              <p-button
                severity="danger"
                label="Remove All"
                icon="pi pi-trash"
                (click)="removeAllTermInterestOverride()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Term Interest Rate Override -->
      <p-accordion-panel value="termInterestRateOverride">
        <p-accordion-header>Term Interest Rate Override</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="
                lendPeak.amortization.termInterestRateOverride &&
                lendPeak.amortization.termInterestRateOverride.length > 0
              "
              class="p-datatable p-component"
            >
              <thead>
                <tr>
                  <th>Dates</th>
                  <th>Term Number</th>
                  <th>Interest Rate</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let override of lendPeak.amortization
                      .termInterestRateOverride.all;
                    let i = index
                  "
                >
                  <!-- Term Dates -->
                  <td>
                    <span class="font-medium text-md">
                      {{
                        getStartDateForTerm(override.termNumber).format(
                          "MM/DD/YYYY"
                        )
                      }}
                    </span>
                    <span class="font-bold text-xl"> - </span>
                    <span class="font-medium text-md">{{
                      getEndDateForTerm(override.termNumber).format(
                        "MM/DD/YYYY"
                      )
                    }}</span>
                  </td>
                  <!-- Term Number -->
                  <td>
                    <p-inputgroup>
                      <p-inputgroup-addon>#</p-inputgroup-addon>
                      <p-inputNumber
                        [(ngModel)]="override.termNumber"
                        name="termInterestOverride-term{{ i }}"
                        (ngModelChange)="onInputChange($event)"
                      ></p-inputNumber>
                    </p-inputgroup>
                  </td>
                  <!-- Interest Rate -->
                  <td>
                    <p-inputgroup>
                      <p-inputgroup-addon>%</p-inputgroup-addon>
                      <p-inputNumber
                        name="termInterestRateOverride-amount-{{ i }}"
                        mode="decimal"
                        minFractionDigits="2"
                        [(ngModel)]="override.interestRate"
                        (ngModelChange)="onInputChange($event)"
                      />
                    </p-inputgroup>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeTermInterestRateOverride(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="p-mt-2">
              <p-button
                label="Add Interest Rate Override"
                icon="pi pi-plus"
                (click)="addTermInterestRateOverrideRow()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Payoff Settings Section -->
      <p-accordion-panel value="payoffConfiguration">
        <p-accordion-header>Payoff Configuration</p-accordion-header>
        <p-accordion-content>
          <div class="grid">
            <!-- Term Payment Amount -->
            <div class="col">
              <label for="payoffDate">
                Payoff Date
                <i
                  class="pi pi-info-circle tooltip-icon"
                  (click)="showTooltip($event, jsPayoffDate)"
                ></i>
              </label>

              <p-datepicker
                [(ngModel)]="lendPeak.amortization.jsPayoffDate"
                inputId="payoffDate"
                dateFormat="mm/dd/yy"
                showIcon
                [showButtonBar]="true"
                appendTo="body"
                [minDate]="lendPeak.amortization.jsStartDate"
                [maxDate]="lendPeak.amortization.jsEndDate"
                [numberOfMonths]="3"
                (ngModelChange)="onInputChange($event)"
                appendTo="body"
              ></p-datepicker>

              <!-- Tooltip Overlay -->
              <p-popover #jsPayoffDate>
                <ng-template pTemplate="content">
                  Payoff Date is the date when the loan is paid off in full.
                  System will alter billing cycle to ensure the loan is paid off
                  on this date.
                </ng-template>
              </p-popover>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Payment Settings Section -->
      <p-accordion-panel value="paymentSettings">
        <p-accordion-header
          >Equated Installment Payments (EIP)</p-accordion-header
        >
        <p-accordion-content>
          <div class="p-fluid">
            <!-- Term Payment Amount -->
            <div class="field">
              <label for="jsEquitedMonthlyPayment">
                Term Payment Amount
                <i
                  class="pi pi-info-circle tooltip-icon"
                  (click)="showTooltip($event, termPaymentAmountTooltip)"
                ></i>
              </label>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <p-checkbox
                    [(ngModel)]="
                      lendPeak.amortization.jsHasCustomEquitedMonthlyPayment
                    "
                    (ngModelChange)="onInputChange($event)"
                    binary="true"
                    inputId="hasCustomEquitedMonthlyPayment"
                    size="small"
                  ></p-checkbox>
                </p-inputgroup-addon>

                <p-inputNumber
                  inputId="jsEquitedMonthlyPayment"
                  [(ngModel)]="lendPeak.amortization.jsEquitedMonthlyPayment"
                  mode="currency"
                  currency="USD"
                  locale="en-US"
                  [disabled]="
                    !lendPeak.amortization.hasCustomEquitedMonthlyPayment
                  "
                  (ngModelChange)="onInputChange($event)"
                ></p-inputNumber>
              </p-inputgroup>

              <!-- Tooltip Overlay -->
              <p-popover #termPaymentAmountTooltip>
                <ng-template pTemplate="content">
                  Override the calculated payment amount per term. For example,
                  enter "$1,200" to set a fixed payment amount.
                </ng-template>
              </p-popover>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Term Payment Amount -->
      <p-accordion-panel value="termPaymentAmount">
        <p-accordion-header>Term Payment Amount</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="lendPeak.amortization.termPaymentAmountOverride.length > 0"
              class="p-datatable p-component"
            >
              <thead>
                <tr>
                  <th>Dates</th>
                  <th>Term Number</th>
                  <th>Payment Amount</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let paymentConfiguration of lendPeak.amortization
                      .termPaymentAmountOverride.all;
                    let i = index
                  "
                  [ngClass]="{
                    'bg-red-100':
                      lendPeak.amortization.termPaymentAmountOverride.isDuplicateTermNumber(
                        paymentConfiguration.jsTermNumber
                      ),
                  }"
                >
                  <!-- Term Dates -->
                  <td>
                    <span class="font-medium text-md">
                      {{
                        getStartDateForTerm(
                          paymentConfiguration.termNumber
                        ).format("MM/DD/YYYY")
                      }}
                    </span>
                    <span class="font-bold text-xl"> - </span>
                    <span class="font-medium text-md">{{
                      getEndDateForTerm(paymentConfiguration.termNumber).format(
                        "MM/DD/YYYY"
                      )
                    }}</span>
                  </td>
                  <!-- Term Number -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="paymentConfiguration.jsTermNumber"
                      name="overrideTermPayment-term{{ i }}"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Payment Amount -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="paymentConfiguration.jsPaymentAmount"
                      name="overrideTermPaymentAmount-{{ i }}"
                      mode="currency"
                      currency="USD"
                      locale="en-US"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeTermPaymentAmountOverride(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="p-mt-2">
              <p-button
                class="pr-2"
                label="Add New Term Row"
                icon="pi pi-plus"
                (click)="addTermPaymentAmountOverride()"
              ></p-button>
              <p-button
                severity="info"
                label="Re-Sort"
                icon="pi pi-refresh"
                (click)="refreshSortForTermPaymentAmountOverride()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Change Payment Date -->
      <p-accordion-panel value="changePaymentDates">
        <p-accordion-header>Change Payment Date</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="lendPeak.amortization.changePaymentDates.length > 0"
              class="p-datatable p-component"
            >
              <thead>
                <tr>
                  <th>Dates</th>
                  <th>Term Number</th>
                  <th>New Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let changePaymentDate of lendPeak.amortization
                      .changePaymentDates.all;
                    let i = index
                  "
                  [ngClass]="{
                    'bg-red-100':
                      lendPeak.amortization.changePaymentDates.isDuplicateTermNumber(
                        changePaymentDate.jsTermNumber
                      ),
                  }"
                  [ngClass]="{
                    'bg-red-100': changePaymentDate.jsTermNumber < 0,
                  }"
                >
                  <!-- Term Dates -->
                  <td>
                    <span class="font-medium text-md">
                      {{
                        getStartDateForTerm(
                          changePaymentDate.termNumber
                        ).format("MM/DD/YYYY")
                      }}
                    </span>
                    <span class="font-bold text-xl"> - </span>
                    <span class="font-medium text-md">{{
                      getEndDateForTerm(changePaymentDate.termNumber).format(
                        "MM/DD/YYYY"
                      )
                    }}</span>
                  </td>
                  <!-- Term Number -->

                  <td>
                    <p-inputNumber
                      [(ngModel)]="changePaymentDate.jsTermNumber"
                      name="changePaymentDate-term{{ i }}"
                      (ngModelChange)="cpdTermUpdated(i)"
                    ></p-inputNumber>
                  </td>
                  <!-- New Date -->
                  <td>
                    <p-datepicker
                      [(ngModel)]="changePaymentDate.jsNewDate"
                      name="changePaymentDateNewDate-{{ i }}"
                      dateFormat="mm/dd/yy"
                      showIcon
                      (ngModelChange)="cpdUpdated()"
                      appendTo="body"
                    ></p-datepicker>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeChangePaymentDate(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="p-mt-2">
              <p-button
                class="pr-2"
                label="Add Change Payment Date Row"
                icon="pi pi-plus"
                (click)="addNewChangePaymentTermRow()"
              ></p-button>
              <p-button
                severity="info"
                label="Re-Sort"
                icon="pi pi-refresh"
                (click)="refreshSortForChangePaymentDates()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Pre Bill Day Term -->
      <p-accordion-panel value="preBillDayTerm">
        <p-accordion-header>Pre Bill Day Term</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="lendPeak.amortization.preBillDays.hasCustom"
              class="p-datatable p-component"
            >
              <thead>
                <tr>
                  <th>Dates</th>
                  <th>Term Number</th>
                  <th>Days</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let preBillDay of lendPeak.amortization.preBillDays
                      .allCustom;
                    let i = index
                  "
                >
                  <!-- Term Dates -->
                  <td>
                    <span class="font-medium text-md">
                      {{
                        getStartDateForTerm(preBillDay.termNumber).format(
                          "MM/DD/YYYY"
                        )
                      }}
                    </span>
                    <span class="font-bold text-xl"> - </span>
                    <span class="font-medium text-md">{{
                      getEndDateForTerm(preBillDay.termNumber).format(
                        "MM/DD/YYYY"
                      )
                    }}</span>
                  </td>
                  <!-- Term Number -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="preBillDay.jsTermNumber"
                      name="preBillDayConfiguration-term{{ i }}"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Days -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="preBillDay.jsPreBillDays"
                      name="prebillDays-day-{{ i }}"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removePreBillDayTerm(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="p-mt-2">
              <p-button
                label="Add New Term Row"
                icon="pi pi-plus"
                (click)="addPrebillDayTermRow()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Due Bill Day Term -->
      <p-accordion-panel value="dueBillDayTerm">
        <p-accordion-header>Due Bill Day Term</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="lendPeak.amortization.dueBillDays.hasCustom"
              class="p-datatable p-component"
            >
              <thead>
                <tr>
                  <th>Dates</th>
                  <th>Term Number</th>
                  <th>Days</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let dueBillDay of lendPeak.amortization.dueBillDays
                      .allCustom;
                    let i = index
                  "
                >
                  <!-- Term Dates -->
                  <td>
                    <span class="font-medium text-md">
                      {{
                        getStartDateForTerm(dueBillDay.termNumber).format(
                          "MM/DD/YYYY"
                        )
                      }}
                    </span>
                    <span class="font-bold text-xl"> - </span>
                    <span class="font-medium text-md">{{
                      getEndDateForTerm(dueBillDay.termNumber).format(
                        "MM/DD/YYYY"
                      )
                    }}</span>
                  </td>
                  <!-- Term Number -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="dueBillDay.jsTermNumber"
                      name="dueBillDayConfiguration-term{{ i }}"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Days -->
                  <td>
                    <p-inputNumber
                      [(ngModel)]="dueBillDay.jsDaysDueAfterPeriodEnd"
                      name="duebillDays-day-{{ i }}"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeDueBillDayTerm(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="p-mt-2">
              <p-button
                label="Add New Term Row"
                icon="pi pi-plus"
                (click)="addDueBillDayTermRow()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Balance Modifications -->
      <p-accordion-panel value="balanceModifications">
        <p-accordion-header>Balance Modifications</p-accordion-header>
        <p-accordion-content>
          <div class="grid">
            <div class="col-12">
              <p-table [value]="lendPeak.amortization.balanceModifications.all">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 10%">Date</th>
                    <th style="width: 10%">Type</th>
                    <th style="width: 10%">Amount</th>
                    <th style="width: 10%">Unused Amount</th>
                    <th style="width: 10%">System Generated</th>
                    <th style="width: 40%">Description</th>
                    <th style="width: 20%">Actions</th>
                  </tr>
                </ng-template>
                <ng-template
                  pTemplate="body"
                  let-balanceModification
                  let-i="rowIndex"
                >
                  <tr>
                    <!-- Date -->
                    <td>
                      <p-datepicker
                        [(ngModel)]="balanceModification.jsDate"
                        dateFormat="mm/dd/yy"
                        inputId="balanceModificationDate-{{ i }}"
                        showIcon
                        (ngModelChange)="balanceModificationChanged()"
                        [disabled]="balanceModification.isSystemModification"
                        appendTo="body"
                      ></p-datepicker>
                    </td>
                    <!-- Type -->
                    <td>
                      <p-select
                        [(ngModel)]="balanceModification.type"
                        inputId="balanceModificationType-{{ i }}"
                        [options]="balanceIncreaseType"
                        placeholder="Select a type"
                        (ngModelChange)="balanceModificationChanged()"
                        [disabled]="balanceModification.isSystemModification"
                      ></p-select>
                    </td>
                    <!-- Amount -->
                    <td>
                      <p-inputNumber
                        [(ngModel)]="balanceModification.jsAmount"
                        name="balanceModificationAmount-{{ i }}"
                        mode="currency"
                        currency="USD"
                        locale="en-US"
                        (ngModelChange)="balanceModificationChanged()"
                        [disabled]="balanceModification.isSystemModification"
                      ></p-inputNumber>
                    </td>
                    <!-- Unused Amount -->
                    <td>
                      <p-inputNumber
                        [disabled]="true"
                        [(ngModel)]="balanceModification.jsUnusedAmount"
                        inputId="balanceModificationAmount-{{ i }}"
                        mode="currency"
                        currency="USD"
                        locale="en-US"
                      ></p-inputNumber>
                    </td>
                    <!-- System Generated -->
                    <td>
                      <span>{{
                        balanceModification.isSystemModification ? "Yes" : "No"
                      }}</span>
                    </td>
                    <!-- Description -->
                    <td>
                      <input
                        id="balanceModificationDescription-{{ i }}"
                        style="width: 100%"
                        pInputText
                        type="text"
                        [(ngModel)]="balanceModification.description"
                        name="balanceModificationDescription-{{ i }}"
                        [disabled]="balanceModification.isSystemModification"
                      />
                    </td>
                    <!-- Remove Button -->
                    <td>
                      <p-button
                        icon="pi pi-trash"
                        class="p-button-rounded"
                        severity="danger"
                        (click)="deleteBalanceModificationRow(i)"
                        [disabled]="balanceModification.isSystemModification"
                      ></p-button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="p-mt-2">
                <p-button
                  label="Add Balance Modification Row"
                  icon="pi pi-plus"
                  (click)="addBalanceModificationRow()"
                ></p-button>
              </div>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      <!-- Fees That Apply to All Terms -->
      <p-accordion-panel value="feesForAllTerms">
        <p-accordion-header>Fees That Apply to All Terms</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              *ngIf="lendPeak.amortization.feesForAllTerms.length > 0"
              class="p-datatable p-component p-datatable-responsive"
            >
              <thead>
                <tr>
                  <th>Type</th>
                  <th>Amount / Percentage</th>
                  <th>Based On</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let fee of lendPeak.amortization.feesForAllTerms.all;
                    let i = index
                  "
                >
                  <!-- Fee Type -->
                  <td>
                    <p-select
                      [(ngModel)]="fee.type"
                      [options]="[
                        { label: 'Fixed', value: 'fixed' },
                        { label: 'Percentage', value: 'percentage' },
                      ]"
                      (ngModelChange)="onInputChange($event)"
                    ></p-select>
                  </td>
                  <!-- Amount or Percentage -->
                  <td>
                    <ng-container *ngIf="fee.type === 'fixed'">
                      <p-inputNumber
                        inputId="feeAmountCurrency"
                        [(ngModel)]="fee.jsAmount"
                        mode="currency"
                        currency="USD"
                        locale="en-US"
                        (ngModelChange)="onInputChange($event)"
                      ></p-inputNumber>
                    </ng-container>
                    <ng-container *ngIf="fee.type === 'percentage'">
                      <p-inputNumber
                        inputId="feeAmountPercentage"
                        [(ngModel)]="fee.jsPercentage"
                        mode="decimal"
                        minFractionDigits="2"
                        suffix="%"
                        (ngModelChange)="onInputChange($event)"
                      ></p-inputNumber>
                    </ng-container>
                  </td>
                  <!-- Based On -->
                  <td>
                    <p-select
                      inputId="feeBasedOn"
                      [disabled]="fee.type !== 'percentage'"
                      [(ngModel)]="fee.basedOn"
                      [options]="[
                        { label: 'Interest', value: 'interest' },
                        { label: 'Principal', value: 'principal' },
                        { label: 'Total Payment', value: 'totalPayment' },
                      ]"
                      (ngModelChange)="onInputChange($event)"
                    ></p-select>
                  </td>
                  <!-- Description -->
                  <td>
                    <input
                      id="feeDescription"
                      name="feeDescription"
                      pInputText
                      type="text"
                      [(ngModel)]="fee.description"
                      (ngModelChange)="onInputChange($event)"
                    />
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeFeeForAllTerms(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p-divider></p-divider>
            <div class="p-mt-2">
              <p-button
                label="Add Fee"
                icon="pi pi-plus"
                (click)="addFeeForAllTerms()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>

      <!-- Fees Per Term -->
      <p-accordion-panel value="feesPerTerm">
        <p-accordion-header>Fees Per Term</p-accordion-header>
        <p-accordion-content>
          <div class="p-fluid">
            <table
              class="p-datatable p-component"
              *ngIf="lendPeak.amortization.feesPerTerm.length > 0"
            >
              <thead>
                <tr>
                  <th>Term Number</th>
                  <th>Type</th>
                  <th>Amount / Percentage</th>
                  <th>Based On</th>
                  <th>Description</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let termFee of lendPeak.amortization.feesPerTerm
                      .flatFeesPerTerm;
                    let i = index
                  "
                >
                  <!-- Term Number -->
                  <td>
                    <p-inputNumber
                      inputId="feeTermNumber"
                      [(ngModel)]="termFee.termNumber"
                      (ngModelChange)="onInputChange($event)"
                    ></p-inputNumber>
                  </td>
                  <!-- Fee Type -->
                  <td>
                    <p-select
                      inputId="feeTermType"
                      [(ngModel)]="termFee.fee.type"
                      [options]="[
                        { label: 'Fixed', value: 'fixed' },
                        { label: 'Percentage', value: 'percentage' },
                      ]"
                      (ngModelChange)="onInputChange($event)"
                    ></p-select>
                  </td>
                  <!-- Amount or Percentage -->
                  <td>
                    <ng-container *ngIf="termFee.fee.type === 'fixed'">
                      <p-inputNumber
                        inputId="feeTermAmountCurrency"
                        [(ngModel)]="termFee.fee.jsAmount"
                        mode="currency"
                        currency="USD"
                        locale="en-US"
                        (ngModelChange)="onInputChange($event)"
                      ></p-inputNumber>
                    </ng-container>
                    <ng-container *ngIf="termFee.fee.type === 'percentage'">
                      <p-inputNumber
                        inputId="feeTermAmountPercentage"
                        [(ngModel)]="termFee.fee.jsPercentage"
                        mode="decimal"
                        minFractionDigits="2"
                        suffix="%"
                        (ngModelChange)="onInputChange($event)"
                      ></p-inputNumber>
                    </ng-container>
                  </td>
                  <!-- Based On -->
                  <td>
                    <p-select
                      inputId="feeTermBasedOn"
                      [disabled]="termFee.fee.type !== 'percentage'"
                      [(ngModel)]="termFee.fee.basedOn"
                      [options]="[
                        { label: 'Interest', value: 'interest' },
                        { label: 'Principal', value: 'principal' },
                        { label: 'Total Payment', value: 'totalPayment' },
                      ]"
                      (ngModelChange)="onInputChange($event)"
                    ></p-select>
                  </td>
                  <!-- Description -->
                  <td>
                    <input
                      id="feeTermDescription"
                      pInputText
                      type="text"
                      [(ngModel)]="termFee.fee.description"
                      (ngModelChange)="onInputChange($event)"
                    />
                  </td>
                  <!-- Remove Button -->
                  <td>
                    <p-button
                      icon="pi pi-trash"
                      class="p-button-rounded"
                      severity="danger"
                      (click)="removeFeePerTerm(i)"
                    ></p-button>
                  </td>
                </tr>
              </tbody>
            </table>
            <p-divider></p-divider>
            <div class="p-mt-2">
              <p-button
                label="Add Fee"
                icon="pi pi-plus"
                (click)="addFeePerTerm()"
              ></p-button>
            </div>
          </div>
        </p-accordion-content>
      </p-accordion-panel>
      <!-- End of Accordion -->
    </p-accordion>
  </div>
</div>
