/* You can add global styles to this file, and also import other style files */
/* @import "primeng/resources/themes/saga-blue/theme.css"; */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import 'highlight.js/styles/a11y-light.css';

html {
    font-size: 80%;
    /* Reduce base font size to 80% of default */
}

/* PrimeNG Dialog Mask Blur Override */
.p-dialog-mask.backdrop-blur-lg {
  background: rgba(255,255,255,0.10) !important; /* or rgba(0,0,0,0.10) for a darker effect */
  backdrop-filter: blur(6px) !important;
  -webkit-backdrop-filter: blur(6px) !important;
}

