<div class="grid">
  <div class="col-12">
    <p-card header="Manage Deposits">
      <div class="p-mb-3">
        <p-button
          label="Add New Deposit"
          icon="pi pi-plus"
          class="mr-2"
          (click)="openDepositDialog()"
        ></p-button>
        <p-button
          [hidden]="deposits.length === 0"
          label="Go to Last Deposit"
          icon="pi pi-arrow-down"
          severity="info"
          (click)="scrollToLastDeposit()"
          pTooltip="Scroll to the last deposit and highlight it"
        ></p-button>
      </div>
      <p-divider></p-divider>
      <div class="p-fluid">
        <p-table
          [hidden]="deposits.length === 0"
          [value]="deposits.all"
          editMode="cell"
          dataKey="id"
          class="p-datatable-sm"
          [scrollable]="true"
          scrollHeight="600px"
          sortField="effectiveDate"
          [sortOrder]="-1"
        >
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th>ID</th>
              <th>Amount</th>
              <th>Currency</th>
              <th pSortableColumn="effectiveDate">
                Effective Date <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="clearingDate">
                Clearing Date <p-sortIcon field="clearingDate"></p-sortIcon>
              </th>
              <th>Unused Amount</th>
              <th>Apply Excess to Principal</th>
              <th>Excess Applied Date</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-deposit let-rowIndex="rowIndex">
            <tr
              #depositRow
              [class.selected-row]="isDepositHighlighted(deposit)"
            >
              <td>
                <p-toggleswitch
                  inputId="active-{{ deposit.id }}"
                  [(ngModel)]="deposit.active"
                  (ngModelChange)="depositActiveUpdated()"
                />
              </td>
              <td>
                <span
                  [class.opacity-30]="
                    !deposit.active ||
                    deposit.effectiveDate.isAfter(snapshotDate)
                  "
                >
                  {{ deposit.id }}
                </span>
                <p-badge
                  *ngIf="deposit.effectiveDate.isAfter(snapshotDate)"
                  value="Future"
                  severity="warn"
                  styleClass="mr-2"
                  pTooltip="Deposit's effective date is after the snapshot date"
                  tooltipPosition="top"
                  tooltipStyleClass="wide-tooltip"
                ></p-badge>
                <p-badge
                  *ngIf="!deposit.active"
                  value="Inactive"
                  severity="danger"
                  styleClass="mr-2"
                  pTooltip="Deposit is inactive"
                  tooltipPosition="top"
                  tooltipStyleClass="wide-tooltip"
                ></p-badge>
                <p-badge
                  *ngIf="deposit.staticAllocation"
                  value="Static"
                  severity="info"
                  styleClass="mr-2"
                  pTooltip="Deposit is using static amounts allocation"
                  tooltipPosition="top"
                  tooltipStyleClass="wide-tooltip"
                ></p-badge>
              </td>
              <td>{{ deposit.jsAmount | currency }}</td>
              <td>{{ deposit.currency }}</td>
              <td>
                {{ deposit.jsEffectiveDate | date: "MM/dd/yyyy" : "UTC" }}
              </td>
              <td>{{ deposit.jsClearingDate | date: "MM/dd/yyyy" : "UTC" }}</td>
              <td>
                {{
                  (deposit.applyExcessToPrincipal ? 0 : deposit.jsUnusedAmount)
                    | currency
                }}
              </td>
              <td>
                <i
                  class="pi"
                  [ngClass]="{
                    'pi-check-circle': deposit.applyExcessToPrincipal,
                    'pi-minus-circle': !deposit.applyExcessToPrincipal,
                  }"
                  [style.color]="
                    deposit.applyExcessToPrincipal ? 'green' : 'orange'
                  "
                ></i>
              </td>
              <td>{{ deposit.jsExcessAppliedDate | date: "MM/dd/yyyy" }}</td>
              <td>
                <div class="action-buttons">
                  <p-button
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-warning"
                    (click)="openDepositDialog(deposit)"
                    pTooltip="Edit Deposit"
                    tooltipPosition="top"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    class="p-button-rounded"
                    severity="danger"
                    (click)="removeDeposit(deposit)"
                    pTooltip="Remove Deposit"
                    tooltipPosition="top"
                  ></p-button>
                  <p-button
                    icon="pi pi-eye"
                    class="p-button-rounded"
                    severity="info"
                    [disabled]="
                      !deposit.usageDetails || deposit.usageDetails.length === 0
                    "
                    (click)="viewDepositUsageDetails(deposit)"
                    pTooltip="View Usage Details"
                    tooltipPosition="top"
                  ></p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</div>

<!-- Deposit Add/Edit Dialog -->
<p-dialog
  header="{{ selectedDepositForEdit ? 'Edit Deposit' : 'Add New Deposit' }}"
  [(visible)]="showDepositDialog"
  [modal]="true"
  [closable]="true"
  (onHide)="onDepositDialogHide()"
>
  <div class="p-grid p-nogutter">
    <div class="field">
      <label for="amount-{{ depositData.id }}">Amount</label>
      <p-inputNumber
        inputId="amount-{{ depositData.id }}"
        [(ngModel)]="depositData.jsAmount"
        mode="currency"
        currency="USD"
        locale="en-US"
        (ngModelChange)="onDataChange($event)"
        required
        class="w-full"
        inputStyleClass="w-full"
      ></p-inputNumber>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="effectiveDate-{{ depositData.id }}">Effective Date</label>
        <p-datepicker
          inputId="effectiveDate-{{ depositData.id }}"
          [(ngModel)]="depositData.jsEffectiveDate"
          (ngModelChange)="onDataChange($event)"
          dateFormat="mm/dd/yy"
          [showClear]="false"
          [showButtonBar]="true"
          showIcon
          required
          appendTo="body"
          inputStyleClass="w-full"
          class="w-full"
          [style]="{ width: '100%' }"
          [inputStyle]="{
            width: '100%',
          }"
        ></p-datepicker>
      </div>
      <div class="field col">
        <label for="clearingDate-{{ depositData.id }}">Clearing Date</label>
        <p-datepicker
          inputId="clearingDate-{{ depositData.id }}"
          [(ngModel)]="depositData.jsClearingDate"
          (ngModelChange)="onDataChange($event)"
          [minDate]="depositData.jsEffectiveDate"
          dateFormat="mm/dd/yy"
          appendTo="body"
          [showButtonBar]="true"
          showIcon
          inputStyleClass="w-full"
          class="w-full"
          [style]="{ width: '100%' }"
          [inputStyle]="{
            width: '100%',
          }"
        ></p-datepicker>
      </div>
    </div>
    <div class="field">
      <label for="excessAppliedDate-{{ depositData.id }}"
        >Excess Applied Date</label
      >

      <p-inputgroup>
        <p-inputgroup-addon>
          <p-checkbox
            inputId="applyExcessToPrincipal"
            [(ngModel)]="depositData.applyExcessToPrincipal"
            name="applyExcessToPrincipal"
            binary="true"
            size="small"
            (onChange)="onApplyExcessToPrincipalChange($event)"
          ></p-checkbox>
        </p-inputgroup-addon>

        <p-datepicker
          inputId="excessAppliedDate-{{ depositData.id }}"
          [disabled]="!depositData.applyExcessToPrincipal"
          [(ngModel)]="depositData.jsExcessAppliedDate"
          (ngModelChange)="onDataChange($event)"
          name="excessAppliedDate"
          dateFormat="mm/dd/yy"
          [showButtonBar]="true"
          [minDate]="depositData.jsEffectiveDate"
          [required]="depositData.applyExcessToPrincipal"
          appendTo="body"
          [style]="{ width: '100%' }"
          appendTo="body"
          [inputStyle]="{
            width: '100%',
            'border-radius': 'unset',
            'font-size': '1.1rem',
          }"
          class="w-full"
        ></p-datepicker>

        <p-inputgroup-addon>
          <i class="pi pi-calendar"></i>
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div class="field">
      <label for="allocationType">Allocation Type</label>
      <p-select
        inputId="allocationType"
        [(ngModel)]="selectedAllocationType"
        (ngModelChange)="onAllocationTypeChange($event)"
        [options]="allocationTypes"
        optionLabel="label"
        optionValue="value"
        required
        appendTo="body"
        inputStyleClass="w-full"
        class="w-full"
      ></p-select>
    </div>
    <p-card *ngIf="selectedAllocationType === 'staticDistribution'">
      <div class="field w-full text-xl text-center">
        <span class="text-300">Remaining Amount: </span
        ><span
          class="font-medium"
          [class]="{
            'text-red-500': staticUnusedAmount != 0,
          }"
          >{{ staticUnusedAmount | currency }}</span
        >
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="staticPrincipal-{{ depositData.id }}">Principal</label>
          <p-inputNumber
            inputId="staticPrincipal-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.principal"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
        <div class="field col">
          <label for="staticInterest-{{ depositData.id }}">Interest</label>
          <p-inputNumber
            inputId="staticInterest-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.interest"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="staticFees-{{ depositData.id }}">Fees</label>
          <p-inputNumber
            inputId="staticFees-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.fees"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
        <div class="field col">
          <label for="staticPrepayment-{{ depositData.id }}"
            >Principal Prepayment</label
          >
          <p-inputNumber
            inputId="staticPrepayment-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.prepayment"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
      </div>
    </p-card>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      severity="warn"
      icon="pi pi-times"
      (click)="onDepositDialogHide()"
      class="p-button-text"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      type="submit"
      [disabled]="staticUnusedAmount != 0"
      (click)="saveDeposit()"
    ></p-button>
  </div>
</p-dialog>

<!-- Deposit Usage Details Dialog -->
<p-dialog
  header="Deposit Usage Details"
  [(visible)]="showDepositUsageDetailsDialog"
  [modal]="true"
  [style]="{ width: '85%' }"
  [closable]="true"
  (onHide)="selectedDeposit = null"
>
  <p-table [value]="selectedDeposit?.usageDetails || []">
    <ng-template pTemplate="header">
      <tr>
        <th>Period</th>
        <th>Bill Due Date</th>
        <th>Bill ID</th>
        <th>Allocated Principal</th>
        <th>Allocated Interest</th>
        <th>Allocated Fees</th>
        <th>Date</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail>
      <tr>
        <td>{{ detail.period }}</td>
        <td>{{ detail.billDueDate.toDate() | date: "MM/dd/yyyy" }}</td>
        <td>{{ detail.billId }}</td>
        <td>{{ detail.allocatedPrincipal.toNumber() | currency }}</td>
        <td>{{ detail.allocatedInterest.toNumber() | currency }}</td>
        <td>{{ detail.allocatedFees.toNumber() | currency }}</td>
        <td>{{ detail.date.toDate() | date: "MM/dd/yyyy" }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p *ngIf="!selectedDeposit?.unusedAmount">
    Unused Amount: {{ selectedDeposit?.jsUnusedAmount | currency }}
  </p>
</p-dialog>
