<div class="grid">
  <div class="col-12">
    <p-card header="Manage Deposits">
      <div class="p-mb-3">
        <p-button
          label="Add New Deposit"
          icon="pi pi-plus"
          class="mr-2"
          (click)="openDepositDialog()"
        ></p-button>
        <p-button
          [hidden]="deposits.length === 0"
          label="Go to Last Deposit"
          icon="pi pi-arrow-down"
          severity="info"
          (click)="scrollToLastDeposit()"
          pTooltip="Scroll to the last deposit and highlight it"
        ></p-button>

        <!-- BULK EDIT ADDITION: Button to toggle bulk-edit mode -->
        <p-button
          label="Enable Bulk Edit"
          icon="pi pi-check-square"
          class="ml-2"
          severity="info"
          (click)="toggleBulkEdit()"
          [disabled]="deposits.length === 0"
          *ngIf="!bulkEditMode"
        ></p-button>

        <!-- BULK EDIT ADDITION: When in bulkEditMode, show "Disable Bulk Edit" and "Edit All" buttons -->
        <ng-container *ngIf="bulkEditMode">
          <p-button
            label="Disable Bulk Edit"
            icon="pi pi-times"
            class="ml-2"
            (click)="toggleBulkEdit()"
          ></p-button>
          <p-button
            label="Edit All"
            icon="pi pi-pencil"
            class="ml-2 p-button-warning"
            (click)="openBulkEditDialog()"
            [disabled]="selectedDeposits.length === 0"
          ></p-button>
        </ng-container>
      </div>
      <p-divider></p-divider>
      <div class="p-fluid">
        <p-table
          [hidden]="deposits.length === 0"
          [value]="deposits.all"
          editMode="cell"
          dataKey="id"
          class="p-datatable-sm"
          [scrollable]="true"
          scrollHeight="600px"
          sortField="effectiveDate"
          [sortOrder]="-1"
          [(selection)]="selectedDeposits"
          selectionMode="multiple"
        >
          <ng-template pTemplate="header">
            <tr>
              <th *ngIf="bulkEditMode" style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th></th>
              <th>ID</th>
              <th>Amount</th>
              <th>Currency</th>
              <th pSortableColumn="effectiveDate">
                Effective Date <p-sortIcon field="effectiveDate"></p-sortIcon>
              </th>
              <th pSortableColumn="clearingDate">
                Clearing Date <p-sortIcon field="clearingDate"></p-sortIcon>
              </th>
              <th>Unused Amount</th>
              <th>Apply Excess to Principal</th>
              <th>Excess Applied Date</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-deposit let-rowIndex="rowIndex">
            <tr
              #depositRow
              [class.selected-row]="isDepositHighlighted(deposit)"
            >
              <!-- BULK EDIT ADDITION: Show row checkbox only when in bulkEditMode -->
              <td *ngIf="bulkEditMode" style="width: 3rem">
                <p-tableCheckbox [value]="deposit"></p-tableCheckbox>
              </td>
              <td>
                <p-toggleswitch
                  inputId="active-{{ deposit.id }}"
                  [(ngModel)]="deposit.active"
                  (ngModelChange)="depositActiveUpdated()"
                />
              </td>
              <td>
                <span
                  [class.opacity-30]="
                    !deposit.active ||
                    deposit.effectiveDate.isAfter(snapshotDate)
                  "
                >
                  {{ deposit.id }}
                </span>
                <!-- Display a badge if there's more than one usage detail -->
                <p-badge
                  *ngIf="deposit.usageDetails?.length > 1"
                  value="{{ deposit.usageDetails.length + ' Bills' }}"
                  severity="warn"
                  styleClass="mr-2"
                  pTooltip="This deposit covers multiple bills"
                  tooltipPosition="top"
                ></p-badge>
                <p-badge
                  *ngIf="deposit.effectiveDate.isAfter(snapshotDate)"
                  value="Future"
                  severity="warn"
                  styleClass="mr-2"
                  pTooltip="Deposit's effective date is after the snapshot date"
                  tooltipPosition="top"
                  tooltipStyleClass="wide-tooltip"
                ></p-badge>
                <p-badge
                  *ngIf="!deposit.active"
                  value="Inactive"
                  severity="danger"
                  styleClass="mr-2"
                  pTooltip="Deposit is inactive"
                  tooltipPosition="top"
                  tooltipStyleClass="wide-tooltip"
                ></p-badge>
                <p-badge
                  *ngIf="deposit.staticAllocation"
                  value="Static"
                  severity="info"
                  styleClass="mr-2"
                  pTooltip="Deposit is using static amounts allocation"
                  tooltipPosition="top"
                  tooltipStyleClass="wide-tooltip"
                ></p-badge>
              </td>
              <td>{{ deposit.jsAmount | currency }}</td>
              <td>{{ deposit.currency }}</td>
              <td>
                {{ deposit.jsEffectiveDate | date: "MM/dd/yyyy" : "UTC" }}
              </td>
              <td>{{ deposit.jsClearingDate | date: "MM/dd/yyyy" : "UTC" }}</td>
              <td>
                {{
                  (deposit.applyExcessToPrincipal ? 0 : deposit.jsUnusedAmount)
                    | currency
                }}
              </td>
              <td>
                <i
                  class="pi"
                  [ngClass]="{
                    'pi-check-circle': deposit.applyExcessToPrincipal,
                    'pi-minus-circle': !deposit.applyExcessToPrincipal,
                  }"
                  [style.color]="
                    deposit.applyExcessToPrincipal ? 'green' : 'orange'
                  "
                ></i>
              </td>
              <td>{{ deposit.jsExcessAppliedDate | date: "MM/dd/yyyy" }}</td>
              <td>
                <div class="action-buttons">
                  <p-button
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-warning"
                    (click)="openDepositDialog(deposit)"
                    pTooltip="Edit Deposit"
                    tooltipPosition="top"
                  ></p-button>
                  <p-button
                    icon="pi pi-trash"
                    class="p-button-rounded"
                    severity="danger"
                    (click)="removeDeposit(deposit)"
                    pTooltip="Remove Deposit"
                    tooltipPosition="top"
                  ></p-button>
                  <p-button
                    icon="pi pi-eye"
                    class="p-button-rounded"
                    severity="info"
                    [disabled]="
                      !deposit.usageDetails || deposit.usageDetails.length === 0
                    "
                    (click)="viewDepositUsageDetails(deposit)"
                    pTooltip="View Usage Details"
                    tooltipPosition="top"
                  ></p-button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</div>

<!-- Deposit Add/Edit Dialog -->
<p-dialog
  header="{{ selectedDepositForEdit ? 'Edit Deposit' : 'Add New Deposit' }}"
  [(visible)]="showDepositDialog"
  [modal]="true"
  [closable]="true"
  (onHide)="onDepositDialogHide()"
>
  <div class="p-grid p-nogutter">
    <div class="field">
      <label for="amount-{{ depositData.id }}">Amount</label>
      <p-inputNumber
        inputId="amount-{{ depositData.id }}"
        [(ngModel)]="depositData.jsAmount"
        mode="currency"
        currency="USD"
        locale="en-US"
        (ngModelChange)="onDataChange($event)"
        required
        class="w-full"
        inputStyleClass="w-full"
      ></p-inputNumber>
    </div>
    <div class="formgrid grid">
      <div class="field col">
        <label for="effectiveDate-{{ depositData.id }}">Effective Date</label>
        <p-datepicker
          inputId="effectiveDate-{{ depositData.id }}"
          [(ngModel)]="depositData.jsEffectiveDate"
          (ngModelChange)="onDataChange($event)"
          dateFormat="mm/dd/yy"
          [showClear]="false"
          [showButtonBar]="true"
          showIcon
          required
          appendTo="body"
          inputStyleClass="w-full"
          class="w-full"
          [style]="{ width: '100%' }"
          [inputStyle]="{
            width: '100%',
          }"
        ></p-datepicker>
      </div>
      <div class="field col">
        <label for="clearingDate-{{ depositData.id }}">Clearing Date</label>
        <p-datepicker
          inputId="clearingDate-{{ depositData.id }}"
          [(ngModel)]="depositData.jsClearingDate"
          (ngModelChange)="onDataChange($event)"
          [minDate]="depositData.jsEffectiveDate"
          dateFormat="mm/dd/yy"
          appendTo="body"
          [showButtonBar]="true"
          showIcon
          inputStyleClass="w-full"
          class="w-full"
          [style]="{ width: '100%' }"
          [inputStyle]="{
            width: '100%',
          }"
        ></p-datepicker>
      </div>
    </div>
    <div class="field">
      <label for="excessAppliedDate-{{ depositData.id }}"
        >Excess Applied Date</label
      >

      <p-inputgroup>
        <p-inputgroup-addon>
          <p-checkbox
            inputId="applyExcessToPrincipal"
            [(ngModel)]="depositData.applyExcessToPrincipal"
            name="applyExcessToPrincipal"
            binary="true"
            size="small"
            (onChange)="onApplyExcessToPrincipalChange($event)"
          ></p-checkbox>
        </p-inputgroup-addon>

        <p-datepicker
          inputId="excessAppliedDate-{{ depositData.id }}"
          [disabled]="!depositData.applyExcessToPrincipal"
          [(ngModel)]="depositData.jsExcessAppliedDate"
          (ngModelChange)="onDataChange($event)"
          name="excessAppliedDate"
          dateFormat="mm/dd/yy"
          [showButtonBar]="true"
          [minDate]="depositData.jsEffectiveDate"
          [required]="depositData.applyExcessToPrincipal"
          appendTo="body"
          [style]="{ width: '100%' }"
          appendTo="body"
          [inputStyle]="{
            width: '100%',
            'border-radius': 'unset',
            'font-size': '1.1rem',
          }"
          class="w-full"
        ></p-datepicker>

        <p-inputgroup-addon>
          <i class="pi pi-calendar"></i>
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
    <div class="field">
      <label for="allocationType">Allocation Type</label>
      <p-select
        inputId="allocationType"
        [(ngModel)]="selectedAllocationType"
        (ngModelChange)="onAllocationTypeChange($event)"
        [options]="allocationTypes"
        optionLabel="label"
        optionValue="value"
        required
        appendTo="body"
        inputStyleClass="w-full"
        class="w-full"
      ></p-select>
    </div>
    <p-card *ngIf="selectedAllocationType === 'staticDistribution'">
      <div class="field w-full text-xl text-center">
        <span class="text-300">Remaining Amount: </span
        ><span
          class="font-medium"
          [class]="{
            'text-red-500': staticUnusedAmount != 0,
          }"
          >{{ staticUnusedAmount | currency }}</span
        >
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="staticPrincipal-{{ depositData.id }}">Principal</label>
          <p-inputNumber
            inputId="staticPrincipal-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.principal"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
        <div class="field col">
          <label for="staticInterest-{{ depositData.id }}">Interest</label>
          <p-inputNumber
            inputId="staticInterest-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.interest"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
      </div>

      <div class="formgrid grid">
        <div class="field col">
          <label for="staticFees-{{ depositData.id }}">Fees</label>
          <p-inputNumber
            inputId="staticFees-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.fees"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
        <div class="field col">
          <label for="staticPrepayment-{{ depositData.id }}"
            >Principal Prepayment</label
          >
          <p-inputNumber
            inputId="staticPrepayment-{{ depositData.id }}"
            [(ngModel)]="depositData.jsStaticAllocation!.prepayment"
            mode="currency"
            currency="USD"
            locale="en-US"
            (ngModelChange)="onDataChange($event)"
            required
            class="w-full"
            inputStyleClass="w-full"
            [min]="0"
          ></p-inputNumber>
        </div>
      </div>
    </p-card>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      severity="warn"
      icon="pi pi-times"
      (click)="onDepositDialogHide()"
      class="p-button-text"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      type="submit"
      [disabled]="staticUnusedAmount != 0"
      (click)="saveDeposit()"
    ></p-button>
  </div>
</p-dialog>

<!-- Deposit Usage Details Dialog -->
<p-dialog
  [(visible)]="showDepositUsageDetailsDialog"
  [modal]="true"
  [style]="{ width: '85%' }"
  [closable]="true"
  (onHide)="selectedDeposit = null"
>
  <ng-template #header>
    <div
      *ngIf="selectedDeposit"
      class="inline-flex items-center justify-center"
    >
      <span class="font-semibold whitespace-nowrap pr-5"
        >Deposit Usage Details: {{ selectedDeposit.id }}</span
      >
      <!-- Display a badge if there's more than one usage detail -->
      <p-badge
        *ngIf="(selectedDeposit?.usageDetails || []).length > 1"
        value="{{ selectedDeposit.usageDetails.length + ' Bills' }}"
        severity="warn"
        styleClass="mr-2"
        pTooltip="This deposit covers multiple bills"
        tooltipPosition="top"
      ></p-badge>
      <p-badge
        *ngIf="selectedDeposit?.effectiveDate?.isAfter(snapshotDate)"
        value="Future"
        severity="warn"
        styleClass="mr-2"
        pTooltip="Deposit's effective date is after the snapshot date"
        tooltipPosition="top"
        tooltipStyleClass="wide-tooltip"
      ></p-badge>
      <p-badge
        *ngIf="!selectedDeposit?.active"
        value="Inactive"
        severity="danger"
        styleClass="mr-2"
        pTooltip="Deposit is inactive"
        tooltipPosition="top"
        tooltipStyleClass="wide-tooltip"
      ></p-badge>
      <p-badge
        *ngIf="selectedDeposit?.staticAllocation"
        value="Static"
        severity="info"
        styleClass="mr-2"
        pTooltip="Deposit is using static amounts allocation"
        tooltipPosition="top"
        tooltipStyleClass="wide-tooltip"
      ></p-badge>
    </div>
  </ng-template>
  <p-table [value]="selectedDeposit?.usageDetails || []">
    <!-- TABLE HEADER -->
    <ng-template pTemplate="header">
      <tr>
        <th>Period</th>
        <th>Bill Due Date</th>
        <th>Bill ID</th>
        <!-- Bill Tags/Badges column -->
        <th></th>
        <!-- Allocated Total column -->
        <th>Allocated Total</th>
        <th>Allocated Principal</th>
        <th>Allocated Interest</th>
        <th>Allocated Fees</th>
        <th>Date</th>
      </tr>

      <!-- Original Deposit row -->
      <tr>
        <th class="bg-blue-50"></th>
        <th class="bg-blue-50"></th>
        <th class="bg-blue-50 text-right">Original Deposit:</th>
        <!-- blank col for Bill Tags -->
        <th class="bg-blue-50"></th>
        <!-- deposit.jsAmount => goes in Allocated Total column -->
        <th class="bg-blue-50 font-bold">
          {{ selectedDeposit?.jsAmount | currency }}
        </th>
        <!-- 0 for principal, interest, fees -->
        <th class="bg-blue-50 font-bold">{{ 0 | currency }}</th>
        <th class="bg-blue-50 font-bold">{{ 0 | currency }}</th>
        <th class="bg-blue-50 font-bold">{{ 0 | currency }}</th>
        <!-- Blank for Date -->
        <th class="bg-blue-50"></th>
      </tr>
    </ng-template>

    <!-- TABLE BODY -->
    <ng-template pTemplate="body" let-detail>
      <tr>
        <td>{{ detail.period }}</td>
        <td>{{ detail.billDueDate.toDate() | date: "MM/dd/yyyy" }}</td>
        <td>
          <!-- Bill ID + button to open Bill Card -->
          <p-button
            (click)="viewBillCard(detail.billId)"
            icon="pi pi-search"
            [rounded]="true"
            [text]="true"
            severity="success"
            class="pr-2"
          ></p-button>
          {{ detail.billId }}
        </td>

        <!-- Bill Tag column -->
        <td>
          <!-- same logic for Bill badges ... -->
        </td>

        <!-- Allocated Total (principal + interest + fees) => we call a TS method -->
        <td>{{ getUsageRowTotal(detail) | currency }}</td>
        <td>{{ detail.allocatedPrincipal.toNumber() | currency }}</td>
        <td>{{ detail.allocatedInterest.toNumber() | currency }}</td>
        <td>{{ detail.allocatedFees.toNumber() | currency }}</td>
        <td>{{ detail.date.toDate() | date: "MM/dd/yyyy" }}</td>
      </tr>
    </ng-template>

    <!-- TABLE FOOTER (ALLOCATED & UNUSED) -->
    <ng-template pTemplate="footer">
      <!-- ALLOCATED row -->
      <tr>
        <td
          class="bg-blue-50"
          colspan="4"
          style="text-align: right; font-weight: bold"
        >
          Allocated:
        </td>
        <td class="bg-blue-50 font-bold">
          {{ allocatedTotalSum | currency }}
        </td>
        <td class="bg-blue-50 font-bold">
          {{ allocatedPrincipalSum | currency }}
        </td>
        <td class="bg-blue-50 font-bold">
          {{ allocatedInterestSum | currency }}
        </td>
        <td class="bg-blue-50 font-bold">
          {{ allocatedFeesSum | currency }}
        </td>
        <td class="bg-blue-50"></td>
      </tr>

      <!-- UNUSED row -->
      <tr>
        <td
          class="bg-blue-50"
          colspan="4"
          style="text-align: right; font-weight: bold"
        >
          Unused:
        </td>
        <td class="bg-blue-50 font-bold">
          {{ selectedDeposit?.jsUnusedAmount | currency }}
        </td>
        <td class="bg-blue-50 font-bold"></td>
        <td class="bg-blue-50 font-bold"></td>
        <td class="bg-blue-50 font-bold"></td>
        <td class="bg-blue-50"></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>

<!-- BULK EDIT ADDITION: Bulk Edit Dialog -->
<p-dialog
  header="Bulk Edit Deposits"
  [(visible)]="showBulkEditDialog"
  [modal]="true"
  [closable]="true"
  [style]="{ width: '400px' }"
>
  <form (ngSubmit)="applyBulkEdit()">
    <div class="p-grid p-nogutter">
      <div class="field">
        <label for="bulkAllocationType">Allocation Type</label>
        <p-select
          id="bulkAllocationType"
          name="bulkAllocationType"
          [(ngModel)]="bulkAllocationType"
          [options]="bulkEditAllocationTypes"
          optionLabel="label"
          optionValue="value"
          [showClear]="false"
          appendTo="body"
          inputStyleClass="w-full"
        >
        </p-select>
      </div>
    </div>

    <div class="flex justify-content-end mt-3">
      <p-button
        label="Cancel"
        icon="pi pi-times"
        (click)="showBulkEditDialog = false"
        class="p-button-text"
      ></p-button>
      <p-button
        label="Save"
        icon="pi pi-check"
        class="pl-2 p-button-warning"
        type="submit"
      ></p-button>
    </div>
  </form>
</p-dialog>

<!-- Bill Card Dialog (Non-blocking, draggable) -->
<p-dialog
  [(visible)]="showBillCardDialog"
  [modal]="false"
  [draggable]="true"
  [resizable]="true"
  [style]="{ width: '650px' }"
  [header]="'Bill Card #' + (selectedBillForCard?.id || '')"
  (onHide)="selectedBillForCard = null"
>
  <ng-container *ngIf="selectedBillForCard as bill">
    <!-- 1) Single row of badges right under the dialog header -->
    <div class="flex align-items-center gap-2 mt-1 flex-wrap">
      <!-- If more than 1 payment covers this bill -->
      <p-tag
        *ngIf="(bill.paymentDetails?.length ?? 0) > 1"
        [value]="bill.paymentDetails.length + ' Payments'"
        severity="warn"
        pTooltip="This bill was satisfied by multiple payments"
        tooltipPosition="top"
      ></p-tag>

      <!-- If bill is open and not paid -->
      <p-tag
        *ngIf="bill.isOpen && !bill.isPaid"
        value="Open Bill"
        severity="success"
      ></p-tag>

      <!-- If bill is future (not open) and not paid -->
      <p-tag
        *ngIf="!bill.isOpen && !bill.isPaid"
        value="Future"
        severity="info"
      ></p-tag>

      <!-- If total due is 0 => 'Skip A Pay' -->
      <p-tag
        *ngIf="bill.jsTotalDue == 0"
        value="Skip A Pay"
        severity="secondary"
      ></p-tag>

      <!-- If total due > 0 => 'Paid' or 'Unpaid' -->
      <p-tag
        *ngIf="bill.jsTotalDue > 0"
        [value]="bill.isPaid ? 'Paid' : 'Unpaid'"
        [severity]="bill.isPaid ? 'success' : 'warn'"
      ></p-tag>

      <!-- If past due and not paid => e.g. 'X Days Past Due' -->
      <p-tag
        *ngIf="bill.isPastDue && !bill.isPaid"
        [value]="bill.daysPastDue + ' Days Past Due'"
        severity="danger"
      ></p-tag>

      <!-- If the bill is paid + dateFullySatisfied => check days late/early/on-time -->
      <ng-container *ngIf="bill.isPaid && bill.dateFullySatisfied">
        <!-- If daysLate > 0 => 'X Days Late' -->
        <p-tag
          *ngIf="bill.daysLate"
          [value]="bill.daysLate + ' Days Late'"
          severity="warn"
        ></p-tag>

        <!-- If daysEarly > 0 => 'X Days Early' -->
        <p-tag
          *ngIf="bill.daysEarly"
          [value]="bill.daysEarly + ' Days Early'"
          severity="success"
        ></p-tag>

        <!-- Otherwise => 'On-Time' -->
        <p-tag
          *ngIf="!bill.daysLate && !bill.daysEarly"
          value="On-Time"
          severity="info"
        ></p-tag>
      </ng-container>
    </div>

    <!-- 2) Bill data inside a p-card -->
    <p-card styleClass="mt-3">
      <!-- Row 1: Period / Due Date -->
      <div class="grid text-sm gap-2">
        <div class="col-12 md:col-6 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Period:</span>
          <span>{{ bill.period }}</span>
        </div>

        <div class="col-12 md:col-5 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Due Date:</span>
          <span>{{ bill.jsDueDate | date: "MM/dd/yyyy" }}</span>
        </div>
      </div>

      <!-- Row 2: Principal / Interest -->
      <div class="grid text-sm gap-2 mt-2">
        <div class="col-12 md:col-6 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Principal:</span>
          <span>{{ bill.jsPrincipalDue | currency }}</span>
        </div>
        <div class="col-12 md:col-5 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Interest:</span>
          <span>{{ bill.jsInterestDue | currency }}</span>
        </div>
      </div>

      <!-- Row 3: Fees / Total -->
      <div class="grid text-sm gap-2 mt-2">
        <div class="col-12 md:col-6 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Fees:</span>
          <span>{{ bill.jsFeesDue | currency }}</span>
        </div>
        <div class="col-12 md:col-5 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Total:</span>
          <span>{{ bill.jsTotalDue | currency }}</span>
        </div>
      </div>

      <!-- Row 4: Satisfied On (only if Paid) -->
      <div
        class="grid text-sm gap-2 mt-2"
        *ngIf="bill.isPaid && bill.dateFullySatisfied"
      >
        <div class="col-12 md:col-6 flex align-items-center">
          <span class="font-semibold text-300 mr-1">Satisfied On:</span>
          <span>{{
            bill.dateFullySatisfied.toDate() | date: "MM/dd/yyyy"
          }}</span>
        </div>
      </div>
    </p-card>

    <!-- 3) Payment (Usage) Details Table -->
    <div class="text-sm mt-3">
      <span class="font-semibold text-300">Payment Details:</span>
      <p-table
        [value]="bill.paymentDetails || []"
        responsiveLayout="scroll"
        styleClass="mt-2"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Deposit ID</th>
            <th>Allocated Principal</th>
            <th>Allocated Interest</th>
            <th>Allocated Fees</th>
            <th>Date</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-payment>
          <tr>
            <td>{{ payment.depositId }}</td>
            <td>{{ payment.jsAllocatedPrincipal | currency }}</td>
            <td>{{ payment.jsAllocatedInterest | currency }}</td>
            <td>{{ payment.jsAllocatedFees | currency }}</td>
            <td>{{ payment.jsDate | date: "MM/dd/yyyy" }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-container>
</p-dialog>
