.field {
    display: flex;
    flex-direction: column;
    /* Stack label above dropdown */
}

/* Target the inner div inside p-dropdown */
::ng-deep .p-dropdown {
    width: 100%;
}

::ng-deep .p-dropdown .p-dropdown-label {
    width: 100%;
}