<!-- basic-loan-info.component.html -->
<!-- Basic Loan Info Tab Content -->
<p-card header="Loan Details" [style]="{ width: '100%' }">
  <div class="formgrid grid">
    <!-- Principal Amount -->
    <div class="field col">
      <label for="principal">
        Principal Amount
        <i
          class="pi pi-info-circle tooltip-icon"
          (click)="showTooltip($event, principalTooltip)"
        ></i>
      </label>
      <p-inputNumber
        id="principal"
        name="principal"
        [(ngModel)]="loan.principal"
        mode="currency"
        currency="USD"
        locale="en-US"
        (ngModelChange)="submitLoan()"
        class="w-full"
      ></p-inputNumber>

      <!-- Popover for Principal Tooltip -->
      <p-popover #principalTooltip>
        <ng-template pTemplate="content">
          The initial amount of the loan. E.g., $100,000
        </ng-template>
      </p-popover>
    </div>

    <!-- Origination Fee -->
    <div class="field col">
      <label for="originationFee">
        Origination Fee
        <i
          class="pi pi-info-circle tooltip-icon"
          (click)="showTooltip($event, originationFeeTooltip)"
        ></i>
      </label>
      <p-inputNumber
        id="originationFee"
        name="originationFee"
        [(ngModel)]="loan.originationFee"
        mode="currency"
        currency="USD"
        locale="en-US"
        (ngModelChange)="submitLoan()"
        class="w-full"
      ></p-inputNumber>

      <!-- Popover for Origination Fee Tooltip -->
      <p-popover #originationFeeTooltip>
        <ng-template pTemplate="content">
          The fee charged by the lender for processing the loan. E.g., $1,000
        </ng-template>
      </p-popover>
    </div>
  </div>

  <div class="formgrid grid">
    <!-- Interest Rate (%) -->
    <div class="field col">
      <label for="interestRate">
        Interest Rate (%)
        <i
          class="pi pi-info-circle tooltip-icon"
          (click)="showTooltip($event, interestRateTooltip)"
        ></i>
      </label>
      <p-inputNumber
        id="interestRate"
        name="interestRate"
        [(ngModel)]="loan.interestRate"
        mode="decimal"
        minFractionDigits="2"
        suffix="%"
        (ngModelChange)="submitLoan()"
        class="w-full"
      ></p-inputNumber>

      <!-- Popover for Interest Rate Tooltip -->
      <p-popover #interestRateTooltip>
        <ng-template pTemplate="content">
          Annual interest rate for the loan. E.g., 5%
        </ng-template>
      </p-popover>
    </div>

    <!-- Term (Months) -->
    <div class="field col">
      <label for="term">
        Term ({{ amortization?.loanTermInMonths }} months)
        <i
          class="pi pi-info-circle tooltip-icon"
          (click)="showTooltip($event, termTooltip)"
        ></i>
      </label>
      <p-inputNumber
        id="term"
        name="term"
        [(ngModel)]="loan.term"
        (ngModelChange)="updateTerm()"
        class="w-full"
      ></p-inputNumber>

      <!-- Popover for Term Tooltip -->
      <p-popover #termTooltip>
        <ng-template pTemplate="content">
          Number of periods for the loan term. E.g., 12
        </ng-template>
      </p-popover>
    </div>
  </div>

  <div class="grid">
    <div class="col">
      <label for="startDate">
        Start Date
        <i
          class="pi pi-info-circle tooltip-icon"
          (click)="showTooltip($event, startDateTooltip)"
        ></i>
      </label>
      <p-datepicker
        id="startDate"
        name="startDate"
        [(ngModel)]="loan.startDate"
        dateFormat="mm/dd/yy"
        [numberOfMonths]="2"
        [showButtonBar]="true"
        [showIcon]="true"
        (ngModelChange)="updateStartDate()"
        [style]="{ width: '100%' }"
        [inputStyle]="{
          width: '100%',
          'border-radius': 'unset',
          'font-size': '1.1rem'
        }"
      ></p-datepicker>

      <!-- Popover for Start Date Tooltip -->
      <p-popover #startDateTooltip>
        <ng-template pTemplate="content">
          The date when the loan starts. E.g., 01/01/2024
        </ng-template>
      </p-popover>
    </div>

    <div class="col">
      <label>First Payment Date
        <i
          class="pi pi-info-circle tooltip-icon p-ml-2"
          (click)="showTooltip($event, firstPaymentDateTooltip)"
        ></i>
      </label>
      <p-inputgroup>
        <p-inputgroup-addon>
          <p-checkbox
            id="enableFirstPaymentDate"
            name="enableFirstPaymentDate"
            [(ngModel)]="enableFirstPaymentDate"
            binary="true"
            inputId="enableFirstPaymentDate"
            (onChange)="onFirstPaymentToggle()"
            size="small"
          ></p-checkbox>
        </p-inputgroup-addon>

        <p-datepicker
          id="firstPaymentDate"
          name="firstPaymentDate"
          [(ngModel)]="loan.firstPaymentDate"
          dateFormat="mm/dd/yy"
          [numberOfMonths]="2"
          [showButtonBar]="true"
          (ngModelChange)="submitLoan()"
          [disabled]="!enableFirstPaymentDate"
          [style]="{ width: '100%' }"
          [inputStyle]="{
            width: '100%',
            'border-radius': 'unset',
            'font-size': '1.1rem'
          }"
          class="w-full"
        >
        </p-datepicker>
        <p-inputgroup-addon>
          <i class="pi pi-calendar"></i>
        </p-inputgroup-addon>
      </p-inputgroup>

      <!-- Popover for First Payment Date Tooltip -->
      <p-popover #firstPaymentDateTooltip>
        <ng-template pTemplate="content">
          The date of the first payment. E.g., 02/01/2024
        </ng-template>
      </p-popover>
    </div>

    <div class="col">
      <label>End Date
        <i
          class="pi pi-info-circle tooltip-icon p-ml-2"
          (click)="showTooltip($event, endDateTooltip)"
        ></i>
      </label>
      <p-inputgroup>
        <p-inputgroup-addon>
          <p-checkbox
            id="enableEndDate"
            name="enableEndDate"
            [(ngModel)]="enableEndDate"
            binary="true"
            inputId="enableEndDate"
            (onChange)="onEndDateToggle()"
            size="small"
          ></p-checkbox>
        </p-inputgroup-addon>

        <p-datepicker
          id="endDate"
          [(ngModel)]="loan.endDate"
          name="endDate"
          dateFormat="mm/dd/yy"
          [numberOfMonths]="2"
          [showButtonBar]="true"
          (ngModelChange)="submitLoan()"
          [disabled]="!enableEndDate"
          [style]="{ width: '100%' }"
          [inputStyle]="{
            width: '100%',
            'border-radius': 'unset',
            'font-size': '1.1rem'
          }"
          class="w-full"
        >
        </p-datepicker>
        <p-inputgroup-addon>
          <i class="pi pi-calendar"></i>
        </p-inputgroup-addon>
      </p-inputgroup>

      <!-- Popover for End Date Tooltip -->
      <p-popover #endDateTooltip>
        <ng-template pTemplate="content">
          The date when the loan ends. Calculated automatically if not set.
        </ng-template>
      </p-popover>
    </div>
  </div>
</p-card>
