<!-- Connector Dialog -->
<p-dialog
  [(visible)]="showConnectorDialog"
  [modal]="true"
  [closable]="false"
  [header]="connectorDialogTitle"
  [style]="{ width: '80%', height: '80%' }"
>
  <div class="field">
    <label for="name">Connector Name</label>
    <input
      id="name"
      type="text"
      pInputText
      [(ngModel)]="newConnector.name"
      required
      autofocus
      class="w-full"
    />
  </div>
  <div class="field">
    <label for="type">Connector Type</label>
    <p-select
      inputId="type"
      [options]="connectorTypes"
      [(ngModel)]="newConnector.type"
      placeholder="Select a Connector Type"
      [disabled]="isEditMode()"
      class="w-full"
    ></p-select>
  </div>
  <!-- LoanPro Credentials -->
  <div *ngIf="newConnector.type === 'LoanPro'">
    <div class="field">
      <label for="autopalId">Autopal ID</label>
      <input
        id="autopalId"
        class="w-full"
        type="text"
        pInputText
        [(ngModel)]="newConnector.credentials.autopalId"
        required
      />
    </div>
    <div class="field">
      <label for="apiUrl">API URL</label>
      <input
        id="apiUrl"
        type="text"
        pInputText
        class="w-full"
        [(ngModel)]="newConnector.credentials.apiUrl"
        required
      />
    </div>
    <div class="field">
      <label for="apiToken">API Token</label>
      <input
        id="apiToken"
        type="text"
        class="w-full"
        pInputText
        [(ngModel)]="newConnector.credentials.apiToken"
        required
      />
    </div>
  </div>
  <div class="flex gap-2 mt-4 justify-content-end">
    <p-button
      label="Cancel"
      icon="pi pi-times"
      (click)="showConnectorDialog = false"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      (click)="saveConnector()"
      [disabled]="!newConnector.name || !newConnector.type"
    ></p-button>
  </div>
</p-dialog>

<!-- Connector List -->
<p-table [value]="connectors">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-connector>
    <tr>
      <td>{{ connector.name }}</td>
      <td>{{ connector.type }}</td>
      <td>
        <!-- Edit Button -->
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-text p-mr-2"
          (click)="editConnector(connector)"
          pTooltip="Edit Connector"
        ></button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-danger p-button-text p-mr-2"
          (click)="deleteConnector(connector)"
          pTooltip="Delete Connector"
        ></button>
        <!-- Edit functionality can be added here -->
      </td>
    </tr>
  </ng-template>
</p-table>

<div class="flex gap-2 mt-4 justify-content-end">
  <button
    pButton
    label="Add Connector"
    icon="pi pi-plus"
    (click)="openNewConnectorDialog()"
  ></button>
</div>
