<!-- Connector Dialog -->
<p-dialog
  [(visible)]="showConnectorDialog"
  [modal]="true"
  [style]="{ width: '80%', height: '80%' }"
  [closable]="false"
  [header]="connectorDialogTitle"
>
  <div class="p-fluid">
    <div class="field">
      <label for="name">Connector Name</label>
      <input
        id="name"
        type="text"
        pInputText
        [(ngModel)]="newConnector.name"
        required
        autofocus
      />
    </div>
    <div class="field">
      <label for="type">Connector Type</label>
      <p-dropdown
        id="type"
        [options]="connectorTypes"
        [(ngModel)]="newConnector.type"
        placeholder="Select a Connector Type"
        [disabled]="isEditMode()"
      ></p-dropdown>
    </div>
    <!-- LoanPro Credentials -->
    <div *ngIf="newConnector.type === 'LoanPro'">
      <div class="field">
        <label for="autopalId">Autopal ID</label>
        <input
          id="autopalId"
          type="text"
          pInputText
          [(ngModel)]="newConnector.credentials.autopalId"
          required
        />
      </div>
      <div class="field">
        <label for="apiUrl">API URL</label>
        <input
          id="apiUrl"
          type="text"
          pInputText
          [(ngModel)]="newConnector.credentials.apiUrl"
          required
        />
      </div>
      <div class="field">
        <label for="apiToken">API Token</label>
        <input
          id="apiToken"
          type="text"
          pInputText
          [(ngModel)]="newConnector.credentials.apiToken"
          required
        />
      </div>
    </div>
    <!-- Additional fields for other connector types can be added here -->
  </div>
  <p-footer>
    <button
      pButton
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="showConnectorDialog = false"
    ></button>
    <button
      pButton
      label="Save"
      icon="pi pi-check"
      (click)="saveConnector()"
      [disabled]="!newConnector.name || !newConnector.type"
    ></button>
  </p-footer>
</p-dialog>

<!-- Connector List -->
<p-table [value]="connectors">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-connector>
    <tr>
      <td>{{ connector.name }}</td>
      <td>{{ connector.type }}</td>
      <td>
        <!-- Edit Button -->
        <button
          pButton
          icon="pi pi-pencil"
          class="p-button-text p-mr-2"
          (click)="editConnector(connector)"
          pTooltip="Edit Connector"
        ></button>

        <button
          pButton
          icon="pi pi-trash"
          class="p-button-danger p-button-text p-mr-2"
          (click)="deleteConnector(connector)"
          pTooltip="Delete Connector"
        ></button>
        <!-- Edit functionality can be added here -->
      </td>
    </tr>
  </ng-template>
</p-table>

<button
  pButton
  label="Add Connector"
  icon="pi pi-plus"
  class="p-button-success"
  (click)="openNewConnectorDialog()"
></button>
